@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    min-height: 100%;
}

body {
    background: linear-gradient(to top, #00685d, #00f249);
}

.glass-container {
    background: rgba( 3, 0, 0, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 14.5px );
    backdrop-filter: blur( 14.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glass-item {
    background: rgba( 255, 255, 255, 0.17 );
    -webkit-backdrop-filter: blur( 12.5px );
    backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glass-nav {
    background: rgba( 50, 50, 50, 0.4 );
    -webkit-backdrop-filter: blur( 12.5px );
    backdrop-filter: blur( 12.5px );
}

.line {
    border-bottom: 2px solid white;
}

.nav-btn {
    background: rgba( 3, 0, 0, 0.5 );
}

.nav-btn:hover {
    background: rgba( 20, 20, 20, 0.5 );
}

.logo-font {
    font-family: 'Shrikhand', cursive;
}

.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#16a34a 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#16a34a);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
}
  
@keyframes s3{ 
    100%{transform: rotate(1turn)}
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}

.waviy span {
    position: relative;
    display: inline-block;
    color: #fff;
    animation: waviy 1.5s infinite;
    animation-delay: calc(.1s * var(--i));
    
}

@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
        20% {
        transform: translateY(-20px)
    }
}